.center {
  text-align: center;
}

.dropzone-panel {
  background-color: #F9F9F9;
  border-width: 1px;
  border-color: #666;
  border-style: dashed;
}

.product-panel {
  color: #333;
  background-color: #F5F5F5;
  border-color: #E9E9E9;
}

.panel > .panel-heading {
  background-color: #E9E9E9;
  border-color: #E9E9E9;
  color: #333;
}


* {
  border-radius: 0 !important;
}

@media (max-width: 767px) {
    .yap-container {
    	padding:0;
  	}
}

.navbar-default {
    background-color: #00B3FF;
    border-color: #00B3FF;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #1EA0E8;
    /*background-color: #57CF43;*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #05DEFF;
    background-color: #05DEFF;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #05DEFF;
    background-color: #05DEFF;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1EA0E8;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
